PORT=3001
DATABASE_URL=postgres://user:password@host:port/dbname?sslmode=require
FRONTEND_URL=https://tu-frontend.vercel.app
NODE_ENV=production

# Opcional: Credenciales por defecto si no están en la DB
# PORTAL_USER=
# PORTAL_PASS=
